/* RED          #E94B53 */
/* BLUE         #3B57E2 */
/* DARK BLUE    #2A2A4B */

@font-face {
    font-family: 'Gothamn';
    src: url(gotham_bold.otf);
    font-weight: normal;
    font-style: normal;
    
}



.box{
    margin: auto auto;
    display: inline-block;
    width: 50px;
    justify-content: space-evenly;
}

.text_rulet{
    margin-top: -24px;
    text-align: center;
    position: absolute;
    z-index: 100;
}


@keyframes fade{
    0%,45% {
      opacity: 0;
}
    100%{
      opacity: 1;
  }
}
.text_rulet:nth-child(1){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate-reverse;  
}

.text_rulet:nth-child(2){
  animation-name: fade;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
.text_rulet:nth-child(){
    animation-name: fade;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
  }





.tx {
    display: inline-block;
    position: absolute;
    background-color: #2A2A4B;
    /* width: 1000px; */
    color: white;
    font-family: 'Gothamn';
    font-size: 24px;
    width: 1000px;
    border-left: 20px solid #3B57E2;
    border-right: 20px solid #E94B53;


}



.percents {
    display: inline-block;
    position: absolute;
    margin-top: 50px;
    z-index: 10;
    color: white;
    font-size: 38px;
    font-family: 'Gothamn';
    /* text-align: justify; */
    /* font-weight: normal; */
}

.back {
    background-image: url(back.png);
    width: 1000px;
    height: 150px;
    /* border-radius: 100px; */
    border-left: 20px solid #3B57E2;
    border-right: 20px solid #E94B53;
}

.image_container {
    /* background-color: rebeccapurple; */
    display: inline-block;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 13px;
    width: fit-content;
    /* position: absolute; */
}

.team_logo {
    width: 125px;
    height: 125px;
    background-color: #2A2A4B;
    border-radius: 100px;
}

input[type="range"] {
    position: relative;
    outline: 0;
    border: 0;
    /* border-radius: 500px; */
    /* border: 1px solid black; */
    transform: skewX(-20deg);
    width: 720px;
    max-width: 100%;
    margin: 0px 0 0px;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;
    height: 125px;
    -webkit-appearance: none;
    background-color: #E94B53;
}

input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 125px;
    -webkit-appearance: none;
    /* cursor: ew-resize; */
    background: #fff;
    box-shadow: -1000px 0px 0 980px #3B57E2, inset 0 0 0 40px white;
    transition: box-shadow 0.2s ease-in-out;
    /* position: relative; */
}